.card-flight {
	background-color: white;
	padding: 20px;
	display: flex;
	flex-direction: column;

	.top-card {
		display: flex;
		justify-content:space-between;
		align-items: center;
		margin-bottom: 20px;
	}

	.cost {
		color: #2196F3;
		font-size: 24px;
		line-height: 24px;
		font-weight: 600;
		margin: 0;
	}

	.logo-airline {
		display: block;
		
	}

	.info-flight {
		width: 100%;
		display: flex;
		flex-direction: column;

		& > .block{
			margin-bottom: 10px;
		}

		& > .block:last-child {
			margin-bottom: 0px;
		}
	}

	.block{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}

	.piece{
		display: flex;
		flex-direction: column;
	}

	.head-piece, .info-piece {
		text-align: left;
		font-weight: 600;
	}

	.head-piece{
		font-size: 12px;
		line-height: 18px;
		letter-spacing: 0.5px;
		color: #A0B0B9;
	}

	.info-piece{
		font-size: 14px;
		line-height: 21px;
		color: #4A4A4A;
	}

}
