.filters-flights{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;

	@media (max-width:650px) {
		&{
			grid-template-columns: 1fr;
			grid-template-rows: 1fr 1fr 1fr;
		}
	}
}

.button-left{
	border-radius: 5px 0 0 5px;
}
.button-right{
	border-radius: 0 5px 5px 0;
}